* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-colour: #EBFAFF;
    --text-colour: #2F374B;
    --form-background-colour: #fff;
    --cta-background: #2B4570;

    --font-size-s: 0.875rem;
    --font-size-m: 1rem;
    --font-size-l: 2rem;

    --size-xs: 0.313rem;
    --size-s: 0.625rem;
    --size-m: 1.25rem;
    --size-l: 2.5rem;
    --size-xl: 3.125rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Parkinsans;
    color: var(--text-colour);
    background-color: var(--background-colour);
}

main {
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
}

.imageSide {
    flex: 4;
    height: 100%;
    background-image: url(Images/taychin-olanwichitwong-Pf3OeA7tMFk-unsplash.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.formSection {
    flex: 6;
    padding: 50px;
    border-radius: 0 10px 10px 0;
    background-color: white;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: var(--size-m);
}

.formInputs {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-s);
    gap: var(--size-xs);
}

.formInputs input {
    padding: 7px 10px;
    border-radius: 4px;
    width: 100%;
}

form button {
    padding: 15px;
    width: 30%;
    border-radius: 5px;
    font-size: var(--font-size-m);
    background-color: var(--cta-background);
    color: var(--form-background-colour);
    box-shadow: 1px 1px 3px var(--cta-background);
}

form button:hover {
    cursor: pointer;
}

.formCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 50px;
}
