* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-colour: ;
    --text-colour: ;
    --form-background-colour: ;
    --cta-background: ;

    --font-size-s: 0.75rem;
    --font-size-m: 1rem;
    --font-size-l: 2rem;

    --size-xs: ;
    --size-s: ;
    --size-m: ;
    --size-l: ;
    --size-xl: ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Parkinsans;
    background-color: #EBFAFF;
}

main {
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
}

.imageSide {
    flex: 4;
    height: 100%;
    background-image: url(Images/taychin-olanwichitwong-Pf3OeA7tMFk-unsplash.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.formSection {
    flex: 6;
    padding: 50px;
    border-radius: 0 10px 10px 0;
    background-color: white;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 20px;
}

.formInputs {
    display: flex;
    flex-direction: column;
}

.formInputs input {
    padding: 5px 10px;
    border-radius: 4px;
    width: 100%;
}

form button {
    padding: 15px;
    width: 30%;
    border-radius: 5px;
    font-size: var(--font-size-m);
}

.formCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 50px;
}